h1 {
  text-align: center;
  font-weight: bold;
  font-family: cursive;
  font-size: 60px;
}

h2 {
  font-family: fantasy;
  font-size: 40px;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  color: lightgrey;
}

#result li {
  list-style: none;
  float: left;
  padding: 5px;
}

#result {
  text-align: justify;
}
